.SignUp {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 16px;
  padding: 15px;
  border: 1px solid #cccccc;
  align-self: center;
}

.SignUp > form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.SignUp > form > input {
  outline: none;
  border: 1px solid #777777;
  border-radius: 8px;
  text-indent: 5px;
  padding: 8px;
}

.SignUp > h2 {
  font-weight: 600;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 26px;
}

.SignUp > form > label {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  cursor: pointer;
}

.SignUp button {
  background-color: var(--blue);
  color: white;
  font-size: 1rem;
  border-radius: 8px;
  border: none;
  padding: 2px 30px;
  font-family: serif;
  align-self: flex-end;
  text-transform: uppercase;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}
